@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@model List<UserLogViewModel>
@{
    ViewData["Title"] = "User Log";
}

@{
    var myCookies = @HttpContextAccessor.HttpContext.Request.Cookies["searchedWord"];
}
    <hr />
<h1>User Log</h1>
<hr />
<div class="alert alert-success">Last searched words: @myCookies</div>


<table class="table table-hover">
    <thead>
        <tr>
            <th>User IP</th>
            <th>Search Time</th>
            <th>Searched Word</th>
            <th>Anagram</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.IPAdress</td>
                <td>@item.SearchTime</td>
                <td>@item.SearchedWord</td>
                <td>
                    @foreach (var listItem in item.AnagramList)
                    {
                        <li>@listItem</li>
                    }
                    @*<div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#collapse1">Anagrams</a>
                    </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse">
                        @foreach (var listItem in item.AnagramList)
                        {
                            <div class="panel-body">@listItem</div>
                        }
                    <div class="panel-footer">Panel Footer</div>
                </div>
            </div>
        </div>*@
                </td>
            </tr>
        }

    </tbody>

</table>
